
:root {
    --color-blanco: #EDE6F2;
    --color-rojo: #F72C25;
    --color-verde: #99C1B9;
    --color-negro: #000;
}

/* Generales */

body {
    background-color: var(--color-blanco);
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
}

/* Fin Generales */

/* Main */

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__title {
    font-family: 'Comforter Brush', cursive;
    font-weight: normal;
    text-align: center;
    color: var(--color-rojo);
    font-size: 3rem;
    margin: 0;
}

.main__subtitle {
    font-family: 'Comforter Brush', cursive;
    font-weight: normal;
    text-align: center;
    color: var(--color-negro);
    font-size: 3rem;
}

.nav {
    margin: 4rem 0;
}

.nav__ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.5rem;
    padding: 0;
    list-style: none;
}

@media all and (max-width: 600px) {
    .nav__ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

.nav__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav__link {
    display: block;
    width: 7rem;
    text-align: center;
    transition: .3s;
}
.nav__link:hover {
    filter: grayscale(100%);
}

.nav__img {
    border-radius: 50%;
    border: 2px solid var(--color-rojo);
    box-sizing: border-box;
    padding: 3px;
    max-width: 9rem;
}

.nav__text {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.nav__subitem {
    display: flex;
    flex-wrap: wrap;
    transform: translateX(-100vw);
    list-style: none;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: #ffffffd9;
    padding: 1rem;
    grid-gap: 3rem;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
}

@supports (backdrop-filter: blur(8px)) {
    .nav__subitem {
        backdrop-filter: blur(8px);
        background-color: #fff5;
    }
}

@supports (-webkit-backdrop-filter: blur(8px)) {
    .nav__subitem {
        backdrop-filter: -webkit-blur(8px);
        background-color: #fff5;
    }
}

.nav__subitem > .nav__item {
    margin-bottom: 2rem;
}


.nav__subitem .nav__text {
    display: block;
    height: 0;
    overflow: visible;
}

.nav__subitem--show {
    transform: translateX(0);
    opacity: 1;
}

.nav__close {
    position: fixed;
    bottom: 1rem;
    left:  auto;
    right: auto;
    font-size: 3rem;
}


@media all and (max-width: 600px) {
    .nav__close {
        position: initial;
    }
}

/* Fin Main */
